<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Data Cleaner</title>
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script> <!-- Link to JavaScript file -->
</head>
<body>
    
    <div class="header">
        <h1>AUTOMATED MASTER DATA CLEANER FOR EFFECTIVE DATA INTEGRATION TO SAP TM</h1>
    </div>

    <main>
    <div class="glass container">
        <section id="section1">
            <h2>MASTER DATA CLEANER</h2>
        </section>
        

        <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="w-93">
            <input type="file" id="fileInput" name="file" accept=".xlsx">
            <input type="submit" id="cleanButton" value="Clean Master Data" accept=".xlsx">
        
        <div class="download-section">
            <p>Download Cleaned Master Data:</p>
            <a href="static/files/sample.xlsx" download class="download-btn">Download Cleaned Master Data</a>
        </div>
            
        </form>
    </div>

    <div class="sticky">
        <footer>
            <p>&copy; 2024 Radiant Logistics Inc</p>
            <img src="{{ url_for('static', filename='images/logo1.png') }}" id="logo1">
        </footer>
    </div>
  
    

</body>
</html>
