<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master Data Cleaner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="header">
        <h1>AUTOMATED MASTER DATA FOR EFFECTIVE INTEGRATION TO SAP TM</h1>
    </div>

    <main>
        <div class="container">
            <h2>Upload Excel File</h2>
            <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" accept=".xlsx, .csv" required>
                <button type="submit">Clean Master Data</button>
            </form>
        </div>
    </main>
</body>
</html>
