* {
    box-sizing: border-box;
    text-align: center;
    background-color: aliceblue;
  
}

h1 {
    
    width: 93%;
    margin: 50px;
    padding: 20px;
    border: 1px solid rgba(85, 95, 172, 0.979);
    border-radius: 25px;
    background-color: rgb(252, 233, 197);  
}

h2{
    font-size: medium;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: bisque;
    border: 1px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.6); /* 3D effect */
    transition: all 0.5s ease; /* Smooth transition for hover effect */
    
}

input:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3), inset -3px -3px 5px rgba(255, 255, 255, 0.6); /* Darker 3D effect when pressed */
}

h1:hover{
    background-color: aquamarine;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.6); /* 3D effect */
    transition: all 0.5s ease; /* Smooth transition for hover effect */
}

input:hover {
    background-color: aquamarine;
}

footer {
    font-size: small;
}

img {
    width: 100px;
    height: auto;
    opacity: 100%;
    
    
}