* {
    box-sizing: border-box;
    text-align: center;
    background-image: radial-gradient( circle 341px at 10% 20%,  rgba(132,94,194,1) 0%, rgba(196,243,251,1) 90% );
}

h1 {
    /* outline: 8px ridge rgba(241, 243, 243, 0.774); */
    width: 93%;
    margin: 50px;
    padding: 20px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    text-align: center;
    border:none;
    /* padding-bottom: 0%; */
    border-radius: 25px;
    background-color:aliceblue;  
}

h2{
    font-size: medium;
    font: caption;  
    font-variant-caps: small-caps;
    border-radius: 50%;
}

.container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    top: 250px; 
    left: 800px;
    border-radius: 50px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
    /* background-color:aliceblue;  */
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: bisque;
    border: 1px;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.6); /* 3D effect */
    transition: all 0.5s ease; /* Smooth transition for hover effect */
    
}

input:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3), inset -3px -3px 5px rgba(255, 255, 255, 0.6); /* Darker 3D effect when pressed */
}

/* h1:hover{
    background-color: rgb(175, 236, 216);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.6); /* 3D effect */
    /* transition: all 0.5s ease; Smooth transition for hover effect */


input:hover {
    background-color: aquamarine;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}


.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}




img {
    width: 100px;
    height: auto;
    opacity: 100%;
    
    
}

.glass {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

